html {
  background: white;
}

/* HEADER SECTION  */
#highlight {
  border: none;
  width: 99%;
  height: 720px;
  margin: 0px 0px;
  padding: 10px 2px;
}
.one {
  height: 680px;
  width: 50%;
  padding-left: 4%;
}
.one h1 {
  /* border: 2px solid red; */
  width: 100%;
  margin-top: 150px;
  font-size: 22px;
}
#p-middle {
  width: 68%;
  margin: 15px 0px;
  z-index: 3;
  visibility: hidden;
}
.one button {
  height: 35px;
  width: 140px;
  margin: 10px 0px;
  margin-top: 0px;
}
.one h2 {
  margin-top: 25px;
  font-size: 20px;
}
#p-bottom {
  display: none;
  width: 300px;
}

.header {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 98%;
  margin-left: -53%;
}
.header .logo {
  margin-left: 10px;
  width: 80px;
  padding: 0px 20px;
}

.two {
  height: 700px;
  width: 45%;
  display: flex;
  flex-direction: column;
}
.bg {
  margin-top: 50px;
  margin-left: -130px;
  height: 250px;
  width: 180%;
}
.bg img {
  /* border-radius: 10px; */
  width: 99%;
  height: 250px;
}
.cards {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 280px;
}
.card {
  height: 265px;
  min-width: 150px;
  margin: 5px 5px;
  color: white;
}
/* SERVICES SECTION  */

#services h3 {
  font-size: 20px;
}
#services h1 {
  font-size: 21px;
  margin: 8px auto;
}
#services h4 {
  font-size: 13px;
}
#container {
  margin: 10px auto;
  height: 450px;
  width: 100%;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: scroll;
}
.box {
  height: 350px;
  width: 80%;
  margin: 10px 15px;
  padding: 10px 55px;
  margin-top: 30px;
}
.box p {
  margin: 0px -20px;
  padding: 0px 0px;
}
.circle {
  left: 30%;
  top: -60px;
}
.box hr {
  width: 50%;
}
.box ul {
  padding: 5px 0px;
  margin: 5px -20px;
  width: 225px;
}
#services h2 {
  font-size: 18px;
}
#services button {
  height: 32px;
  margin-top: 5px;
}
/* ABOUT ME  */
#about {
  height: 850px;
  width: 98%;
  /*   margin: 0px auto; */
  padding: 0px 3px;
  display: flex;
  flex-direction: column;
}
.half-1 {
  width: 100%;
  height: 52%;
  padding: 0px 10px;
}
.myinfo h1 {
  font-size: 35px;
  margin-bottom: 15px;
}
.myinfo p {
  width: 120%;
  margin: 2px 0px;
  padding: 3px 0px;
  font-size: 13px;
}
.half-2 {
  width: 98%;
  height: 40%;
  margin: 0px 5px;
  padding-right: 15px;
}
.half-2 img {
  border-radius: 10px;
  width: 100%;
  height: 95%;
}
/* PLANS AND PRICING  */
#plans {
  height: 580px;
  width: 95%;
  padding: 0px 8px;
}
.plans-container {
  height: 550px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  justify-content: flex-start;
}
.plan-card {
  min-width: 220px;
  margin: 40px 5px;
  height: 510px;
}
/* FEEDBACK SECTION  */
.feed-section {
  height: 520px;
  width: 100%;
  padding: 10px 0px;
}
.left {
  display: none;
}
.center {
  height: 500px;
  width: 100%;
}
.right {
  display: none;
}
/* ARTICLES SECTION */
#articles {
  height: 625px;
  width: 98%;
  margin: 0px auto;
  padding: 20px 5px;
}
#articles h2 {
  font-size: 20px;
  color: #1bc6e9;
}
#articles h1 {
  font-size: 30px;
}
#container-2 {
  margin: 5px 4px;
  width: 98%;
  height: 500px;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
}
.art {
  height: 460px;
  width: 250px;
  margin: 5px 5px;
}
.art img {
  margin: 5px 1px;
  height: 150px;
  width: 220px;
}
/* CONTACT SECTION */
#contact {
  width: 100%;
  height: 500px;
}
#contact h2 {
  margin: 10px auto;
  font-size: 20px;
}
#contact h3 {
  font-size: 25px;
  margin-bottom: 10px;
}
#myform {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 95%;
  height: 75%;
}
#myform input {
  height: 32px;
  width: 95%;
  margin: 5px 10px;
  border-radius: 4px;
}
#myform textarea {
  width: 95%;
  height: 80px;
  margin: 10px 10px;
}
#myform button {
  margin: 20px auto;
  height: 35px;
  width: 150px;
}
footer {
  width: 100%;
}
footer #foot-1 {
  height: 70%;
  width: 20%;
  margin: 5px 0px;
  margin-right: 15px;
}
#foot-1 i {
  font-size: 30px;
  margin: 5px 10px;
}
#foot-1 h3 span {
  font-size: 15px;
}
#foot-1 h3 {
  font-size: 12px;
}
footer #foot-2 {
  height: 60%;
  width: 50%;
  margin: 0px 10px;
}
#foot-2 address strong {
  font-size: 10px;
}
footer #foot-2 h4 {
  font-size: 14px;
  margin-top: 15px;
}
footer #foot-2 p {
  font-size: 10px;
  margin: 10px auto;
}
footer #foot-3 {
  height: 60%;
  width: 20%;
}
#foot-3 i {
  margin: 2px 8px;
  font-size: 15px;
}
.contain {
  width: 97%;
  padding: 20px 5px;
}
