/* CSS RESET */
* {
  margin: 0px;
  padding: 0px;
}
body {
  background: #7edee9;
  font-family: "Alata", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/* HEADER */
#highlight {
  width: 95%;
  height: 760px;
  margin: 0px auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  background: white;
  font-family: "Alata", sans-serif;
  /* border: 2px solid blue; */
}
.one {
  /* border: 2px solid black; */
  height: 750px;
  width: 45%;
  padding-left: 18%;
  background: #ecfafb;
  display: flex;
  flex-direction: column;
}
.one h1 {
  margin-top: 140px;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  z-index: 2;
}
#p-middle {
  /* border: 2px solid red; */
  width: 220px;
  margin: 20px 0px;
  font-size: 12px;
}
.one button {
  height: 35px;
  width: 170px;
  background: #36c08c;
  margin: 10px 0px;
  color: white;
  border-radius: 5px;
  border: none;
}
.one button:hover {
  cursor: pointer;
  background: #0ba369;
}
#slide {
  /* border: 2px solid red; */
  margin: 20px 0px;
  height: 50px;
  width: 300px;
  display: flex;
  z-index: 2;
  align-items: center;
}
.one h2 {
  margin-top: 30px;
  font-size: 25px;
  font-family: "Lato", sans-serif;
}
#p-bottom {
  /* border: 2px solid red; */
  width: 320px;
  margin: 20px 0px;
  font-size: 12px;
}

/* Navigation Bar */

.menu li a {
  color: black;
}

.header {
  background-color: transparent;
  /* box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1); */
  position: absolute;
  width: 98%;
  z-index: 4;
  margin-left: -50%;
  /* border: 2px solid black; */
}

.header ul {
  /* border: 2px solid grey; */
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: transparent;
}

.header li a {
  display: block;
  padding: 20px 20px;
  /*   border-right: 1px solid #f4f4f4; */
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  /* border: 2px solid red; */
  display: inline-flex;
  /* float: left; */
  margin-left: 100px;
  width: 100px;
  padding: 0px 20px;
  flex-direction: row;
  text-decoration: none;
  color: #52ca9d;
  justify-content: center;
  align-items: center;
}
.header .logo i {
  font-size: 3em;
  margin: 5px 10px;
}
.header .logo h3 span {
  color: #20a472;
}
.header .menu button {
  height: 35px;
  width: 150px;
  background: #30c9e8;
  margin: 10px;
  color: white;
  border-radius: 5px;
  border: none;
}
.header .menu button i {
  margin: 2px 10px;
}
.header .menu button:hover {
  cursor: pointer;
  background: rgb(10, 121, 121);
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 450px;
  padding-bottom: 100px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header {
    background-color: transparent;
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.two {
  /* border: 2px solid yellow; */
  height: 780px;
  width: 55%;
  display: flex;
  flex-direction: column;
}
.bg {
  margin-top: 50px;
  margin-left: -100px;
  height: 350px;
  /* border: 2px solid green; */
  z-index: 1;
  width: 700px;
}
.bg img {
  border-radius: 10px;
  width: 100%;
  height: 400px;
}
.cards {
  display: flex;
  flex-direction: row;
  z-index: 2;
  /* border: 2px solid black; */
}
.card {
  height: 240px;
  width: 180px;
  margin: 0px 5px;
  /* border: 2px solid blue; */
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Alata", sans-serif;
}
#card-1 {
  background: #f48fb1;
}
#card-2 {
  background: #ff8a66;
}
#card-3 {
  background: #4bc6d6;
}
.card p {
  text-align: left;
  margin: 10px 15px;
  font-size: 12px;
}
.card img {
  height: 100px;
  width: 80px;
  filter: invert(100%);
}
.more {
  /* border: 2px solid red; */
  width: 90%;
  margin: 10px 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.more i {
  font-size: 30px;
  color: #53cb9e;
}

/* SERVICES SECTION */
#services h1 {
  font-size: 35px;
}
#services h3 {
  margin-top: 10px;
  font-size: 25px;
  color: #1bc6e9;
  font-family: "Alata", sans-serif;
}
#container {
  /* border: 2px solid blue; */
  font-family: "Alata", sans-serif;
  display: flex;
  margin: 20px auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.box {
  text-align: center;
  /* border: 2px solid red; */
  height: 380px;
  width: 320px;
  margin: 20px 10px;
  margin-top: 40px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.box p {
  text-align: left;
  margin: 0px 42px;
  padding: 2px 12px;
}
.circle {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50px;
  border: 10px solid white;
  left: 35%;
  top: -50px;
  /* background: red; */
  margin-bottom: -20px;
}
.circle img {
  height: 80px;
  width: 80px;
}
#box1 {
  background: #eefaf6;
}
#box2 {
  background: #fef3f0;
}
#box3 {
  background: #fff3f7;
}
.box hr {
  width: 20%;
  margin: 20px auto;
  border-radius: 4px;
}
#box1 hr {
  border: 2px solid #a9e1cd;
}
#box2 hr {
  border: 2px solid #f98966;
}
#box3 hr {
  border: 2px solid #ee8eaf;
}
.box ul {
  padding: 5px 50px;
  margin: 5px 5px;
  text-align: left;
}
.box ul li {
  margin: 5px 5px;
  text-align: left;
  /* background-color: aqua; */
}
.green i {
  color: #81d8b6;
}
.cream i {
  color: #feb29b;
}
.pink i {
  color: #f7b1c8;
}
#services h2 {
  font-size: 20px;
}
#services button {
  height: 35px;
  width: 150px;
  background: #30c9e8;
  margin: 20px;
  color: white;
  border-radius: 5px;
  border: none;
}
#services button i {
  margin: 2px 10px;
}
#services button:hover {
  background: rgb(10, 121, 121);
  cursor: pointer;
}

/* ABOUT ME SECTION */
#about {
  background: white;
  height: 500px;
  width: 95%;
  margin: 0px auto;
  padding: 40px 20px;
  /* border: 2px solid black; */
  display: flex;
  text-align: center;
  font-family: "Alata", sans-serif;
}
.half-1 {
  width: 65%;
  height: 480px;
  /* border: 2px solid red; */
  margin-left: -20px;
  background: #ecfafb;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.myinfo {
  /* border: 2px solid black; */
  height: 380px;
  width: 70%;
}
.myinfo h2 {
  color: #1bc6e9;
}
.myinfo h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.myinfo p {
  margin: 5px 0px;
  padding: 5px 0px;
}
.reach-me {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0px;
}
.myinfo h3 {
  /* border: 1px solid black; */
  color: #1bc6e9;
  margin: 2px 10px;
  padding: 2px 5px;
}
.myinfo img {
  width: 20px;
  /* height: 20px; */
}
.half-2 {
  width: 550px;
  height: 400px;
  z-index: 2;
  margin: 35px 0px;
  margin-left: -100px;
  /* border: 2px solid blue; */
}
.half-2 img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

/* PLANS AND PRICING SECTION */
#plans {
  background: white;
  height: 600px;
  width: 95%;
  margin: 0px auto;
  padding: 10px 20px;
  font-family: "Alata", sans-serif;
}
.plans-head {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plans-head h3 {
  color: #4ac7d6;
}
.plans-head p {
  text-align: center;
}
.plans-container {
  height: 600px;
  width: 100%;
  display: flex;
  /* border: 2px solid tomato; */
  justify-content: center;
}
.plan-card {
  border-radius: 10px;
  margin: 40px 5px;
  /* border: 2px solid black; */
  height: 500px;
  width: 200px;
  display: flex;
  flex-direction: column;
  z-index: 4;
}
.plan-card:hover {
  box-shadow: 1px 1px rgb(202, 200, 200);
}
#plan-1 {
  background: white;
}
#plan-2 {
  background: #4bc6d6;
  color: white;
  box-shadow: 2px 5px 20px 5px #c4ecf1;
  /* box-shadow: 5px 10px #c4ecf1; */
}
#plan-3 {
  background: white;
}
.plan-a {
  /* border: 2px solid red; */
  margin: 30px 10px;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plan-a i {
  margin: 25px 5px;
}
#plan-1-i {
  font-size: 30px;
  color: #fe8a65;
}
#plan-2-i {
  font-size: 50px;
  color: white;
}
#plan-3-i {
  font-size: 65px;
  color: #50ca9b;
}
#price-1 {
  color: #fe8a65;
}
#price-3 {
  color: #50ca9b;
}
.plan-a h4 sub {
  font-size: 40px;
  font-weight: lighter;
}
.plan-a hr {
  width: 25%;
  margin: 20px auto;
  border-radius: 4px;
}
#price-1-hr {
  border: 2px solid #ffc4b2;
}
#price-2-hr {
  border: 2px solid white;
}
#price-3-hr {
  border: 2px solid #50ca9b;
}
.plan-b {
  margin: 10px 5px;
  height: 80px;
}
.plan-b i {
  margin: 0px 10px;
}
.plan-1-icon i {
  color: #fe8a65;
}
.plan-2-icon i {
  color: white;
}
.plan-3-icon i {
  color: #50ca9b;
}
.plan-b span {
  font-size: 12px;
}
.plan-c {
  margin: 15px 5px;
  height: 150px;
}
.plan-c p {
  margin: 5px 10px;
  padding: 2px 0px;
  font-size: 10px;
}
.plan-1-c-hr hr {
  border: 0.4px solid #ffc4b2;
}
.plan-2-c-hr hr {
  border: 0.4px solid white;
}
.plan-3-c-hr hr {
  border: 0.4px solid #c2fade;
}
.plan-d {
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan-d button {
  height: 35px;
  width: 150px;
  margin: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#plan-1-button {
  background: #fe8a65;
}
#plan-2-button {
  background: #006672;
}
#plan-3-button {
  background: #2bbd86;
}
#plan-1-button:hover {
  background: #ff7546;
}
#plan-2-button:hover {
  background: #012327;
}
#plan-3-button:hover {
  background: #047047;
}
.plan-d button i {
  margin: 2px 10px;
}

/*TESTIMONIAL SECTION*/
.feed-section {
  padding: 0px 0px;
  background: white;
  height: 500px;
  width: 98.2%;
  margin: 0px auto;
  /* border: 2px solid black; */
  text-align: center;
}
#feedback {
  /* border: 2px solid blue; */
  margin: 0px 0px;
  padding: 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Alata", sans-serif;
  justify-content: center;
}
.left {
  height: 500px;
  width: 300px;
  /* border: 2px solid red; */
  z-index: 1;
}
.left img {
  height: 500px;
  width: 300px;
}
.center {
  height: 500px;
  width: 650px;
  background: #ecf9fc;
  /* border: 2px solid blue; */
  z-index: 2;
}
.center h1 {
  font-size: 25px;
}
.center h3 {
  margin-top: 80px;
  font-size: 22px;
  color: #1bc6e9;
}
.customers {
  display: flex;
}
.next-feed {
  display: flex;
  /* border: 2px solid black; */
  width: 60px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #50c8d7;
}
.next-feed i:hover {
  font-size: 25px;
  cursor: pointer;
}
.customers-data img {
  margin: 35px auto;
  height: 100px;
  width: 100px;
  border-radius: 60px;
}
.customers-data p {
  margin: 0px auto;
  width: 90%;
  font-size: 14px;
}
.customers-data h4 {
  font-size: 15px;
  margin: 20px auto;
}
.center i {
  margin: 5px 2px;
}
.i-prev {
  color: #cbf2f9;
  font-size: 10px;
}
.i-next {
  color: #cbf2f9;
  font-size: 10px;
}
.i-present {
  color: #4bc5d6;
  font-size: 12px;
}
.right {
  height: 500px;
  width: 300px;
  /* border: 2px solid yellow; */
  z-index: 0;
}
.right img {
  height: 500px;
  width: 300px;
}

/* ARTICLE SECTION*/
#articles {
  /* border: 2px solid grey; */
  background: white;
  height: 650px;
  width: 96%;
  padding: 10px 14px;
  margin: 0px auto;
  text-align: center;
}
#articles h2 {
  margin: 0px auto;
  padding-top: 10px;
  font-size: 22px;
  color: #1bc6e9;
}
#articles h1 {
  margin: 0px auto;
  font-size: 35px;
}
#container-2 {
  /* border: 2px solid blue; */
  display: flex;
  margin: 10px 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Alata", sans-serif;
}
.art {
  text-align: center;
  /* border: 2px solid red; */
  height: 480px;
  width: 280px;
  margin: 2px 10px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.art img {
  margin: 10px 1px;
  height: 180px;
  width: 240px;
  border-radius: 6px;
}
.art h4 {
  color: #61bac5;
  margin-bottom: 10px;
}
.art h3 {
  color: black;
  margin-bottom: 12px;
  text-align: left;
  margin-left: 20px;
  font-size: 15px;
}
.art p {
  padding: 5px 20px;
  text-align: left;
  font-size: 14px;
}
.likes {
  display: flex;
  height: 40px;
  width: 85%;
  margin: 20px 20px;
  padding: 2px 2px;
  /* border: 2px solid red; */
  color: #cbf2f8;
  font-size: 18px;
}
.fa-heart {
  /* border: 1px solid black; */
  width: 80%;
  text-align: left;
  margin: auto 1px;
}
.next-article {
  width: 20%;
  /* border: 2px solid yellow; */
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  color: #cbf2f7;
  /* background-color: #63cedd; */
}
#red-heart {
  color: red;
}
.fa-heart:hover {
  cursor: pointer;
  font-size: 19px;
}
.next-article:hover {
  font-size: 25px;
  cursor: pointer;
}
.art i span {
  color: black;
  margin: 2px 2px;
}
.container-3 {
  /* border: 2px solid green; */
  margin: 10px 10px;
  margin-bottom: 0px;
  height: 25px;
}

/*CONTACT SECTION*/
#contact {
  background: #ecf9fc;
  /* border: 2px solid red; */
  height: 500px;
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Alata", sans-serif;
}
#contact h2 {
  margin-top: 30px;
  color: #1bc6e9;
  font-size: 30px;
  /* border: 2px solid black; */
}
#contact h3 {
  font-size: 40px;
  /* border: 2px solid green; */
}
#myform {
  margin: 10px 50px;
  /* border: 2px solid black; */
}
#myform input {
  box-sizing: border-box;
  height: 40px;
  width: 200px;
  margin: 10px 10px;
  text-align: center;
  border-radius: 10px;
  background: white;
  border: none;
}
#myform textarea {
  margin: 20px;
  border: none;
}

#myform input:hover {
  border: 0.1px solid black;
}
#myform p {
  display: inline-block;
}
.phone {
  color: #70c8d1;
}
#myform button {
  float: right;
  margin-right: 100px;
  height: 35px;
  width: 150px;
  background: #30c9e8;
  color: white;
  border-radius: 5px;
  border: none;
}
#myform button:hover {
  background: rgb(10, 121, 121);
  cursor: pointer;
}
#myform button i {
  margin: 2px 10px;
}

/* Footer section */
footer {
  /* border: 2px solid black; */
  height: 150px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer #foot-1 {
  /* border: 2px solid red; */
  height: 80px;
  width: 250px;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #52ca9d;
}
#foot-1 i {
  font-size: 60px;
  margin: 5px 10px;
}
#foot-1 h3 span {
  color: #20a472;
}
footer #foot-2 {
  /* border: 2px solid red; */
  height: 125px;
  width: 450px;
  margin: 0px 10px;
}
footer #foot-2 h4 {
  margin-top: 20px;
  color: #70c8d1;
}
footer #foot-2 p {
  font-size: 12px;
  color: grey;
  margin: 15px auto;
}
footer #foot-3 {
  /* border: 2px solid red; */
  height: 80px;
  width: 250px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #70c8d1;
}
#foot-3 i {
  margin: 2px 5px;
}
#foot-3 i:hover {
  font-size: 25px;
  cursor: pointer;
  color: #0ec4d8;
}

/*UTILITY CLASSES*/
.contain {
  background: white;
  height: 720px;
  width: 95%;
  margin: 0px auto;
  padding: 20px 20px;
  /* border: 2px solid black; */
  text-align: center;
}
